<h1>Bem vindo!</h1>

Para ativar seu cadastro
<%= link_to "Clique aqui",
  controller: "api/v1/users", 
  action: "activation",
  host: ENV['APPLICATION_URL'],
  port: ENV['APPLICATION_PORT'],
  activation_token: @user.activation_token %>
